<style>
    .container {
        margin: 0;
    }
</style>

<div style="position: absolute; width: 100%; height: 100%">

    <img style="vertical-align: middle; position: absolute; width: 100%;" src="../Content/fixthatlink.jpg" />

        <h2 style="position: absolute; left: 5%; top: 10%;">Give me a minute to fix that broken link...</h2>
        <div style="position: absolute; right: 5%; bottom: 5%;">
            <h2 style="position: relative; float: right;">...In the meantime, </h2>
            <h2 style="position: relative; clear: right;"><a href="#/login">Login to your account</a>, or <a href="#/profile">Go to your profile</a></h2>
        </div>


</div> 
