<div>
    <header>
        <h1>Welcome to famiLYNX</h1>
    </header>
    <div class="pane pane-container">
        <div class="pane pane-heading">Register</div>
        <div class="pane pane-content">

            <div class="pane pane-item">
                E-Mail:<br />
                <input type="text" ng-model="self.Email" />
            </div>

            <div class="pane pane-item">
                Password:<br />
                <input type="password" ng-model="self.Password" />
            </div>
            <div class="pane pane-item">
                Confirm Password:<br />
                <input type="password" ng-model="self.ConfirmPassword" />
            </div>

            <div class="pane pane-item">
                First Name:<br />
                <input type="text" ng-model="self.FirstName" />
            </div>
        </div>

        <form class="pane pane-footer" name="registerForm" ng-submit="self.register()">
            <input type="submit" value="Register" />
        </form>
    </div>
</div>