<div>
    <header>
        <h1>Welcome to famiLYNX</h1>
    </header>
    <form class="pane pane-container login-register" name="registerForm" ng-submit="self.register()" novalidate>
        <div class="pane pane-heading">Register</div>
        <div class="pane pane-content">

            <div class="pane pane-item">
                First Name:
                <input type="text" name="firstName" ng-model="self.FirstName" required placeholder="A label for your messages" />
                <img src="/Content/ex.png" ng-show="registerForm.firstName.$touched && registerForm.firstName.$error.required" />
                <img src="/Content/checkmark.png" ng-show="registerForm.firstName.$touched && !registerForm.firstName.$error.required" />
            </div>

            <div class="pane pane-item">
                E-Mail:
                <input ng-focus="self.isValidEmail()" ng-blur="self.isValidEmail()" type="text" name="Email" ng-model-options="{debounce: 1000}" ng-change="self.validateEmail(self)" ng-model="self.Email" required placeholder="This acts as your username" />
                <img src="/Content/ex.png" ng-show="registerForm.Email.$touched && (registerForm.Email.$error.required || self.emailResults.Content.search(self.emailString) !== -1)" />
                <img src="/Content/checkmark.png" ng-show="registerForm.Email.$touched && !registerForm.Email.$error.required && self.emailResults.Content.search(self.emailString) === -1" />
            </div>
            <div class="pane pane-item">
                Password:
                <input type="password" name="password" ng-model="self.Password" ng-minlength="6" required placeholder="Enter a secure password" />
                <img src="/Content/ex.png" ng-show="registerForm.password.$touched && (registerForm.password.$error.required || registerForm.password.$error.minlength)" />
                <img src="/Content/checkmark.png" ng-show="registerForm.password.$touched && !registerForm.password.$error.required && !registerForm.password.$error.minlength" />
            </div>
            <div class="pane pane-item">
                Confirm Password:
                <input type="password" name="confirmPassword" ng-model="self.ConfirmPassword" ng-minlength="6" required ng-disabled="registerForm.password.$error.minlength" placeholder="Verify your password" />
                <img src="/Content/ex.png" ng-show="!registerForm.confirmPassword.$pristine && self.Password !== self.ConfirmPassword" />
                <img src="/Content/checkmark.png" ng-show="!registerForm.confirmPassword.$pristine && self.Password === self.ConfirmPassword" />

            </div>
            <div style="margin-top: 4%; font-size: 1.3em; color: #FFCC33; text-align: center;">
                <div ng-show="self.errormessage === false && (!registerForm.$error.required && !registerForm.$error.minlength && self.Password === self.ConfirmPassword)">
                    Hey, looks like we didn't have any problems! <br />
                    Click Register to get started!
                </div>
                <div ng-repeat="err in self.errormessage">{{err}}</div>
            </div>

        </div>
        <div class="pane pane-footer">
            <input type="submit" value="Register" ng-disabled="registerForm.$error.required || registerForm.$error.minlength || self.Password !== self.ConfirmPassword" />
        </div>
    </form>
</div>