body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

header, body {
    max-width: 1200px;
    background-color: #47697E;
}

h1 {
    color: #FFCC33;
    margin-left: 150px;
    width: 650px;
}

h1 span{
    color: rgb(50,50,50);
    float: right;
    font-size: 16px;
}

body {

}

.scroll{
    background-color: #68889A;
    position: absolute;
    height: 15px;
    width: 100%;
}

.scroll.scroll-up{
    border-bottom: 1px solid rgb(50,50,50);
    top: 0;
}

.scroll.scroll-down{
    border-top: 1px solid rgb(50,50,50);
    bottom: 0;
}

.scroll img{
    position: absolute;
    height: 10px; 
    width: 100%;
}

.scroll:hover{
    background-color: #47697E;
}

.scroll.scroll-up > img {
    top: 1px;
}

.scroll.scroll-down > img{
    top: 2px;
    transform: rotate(180deg);
}

.pane.pane-container{
    background-color: #68889A;
    border-radius: 4px;
    float: left;
    margin: 15px;
    position: relative;
    height: 500px;
    width: 500px;
}

.pane.pane-container.login-register{
    height: 400px;
}

.pane.pane-heading{
    border-bottom: 3px solid #FFCC33;
    font-size: medium;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    height: 10%;
}

.pane.pane-content{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.login-register .pane.pane-item {
    padding: 10px;
}

.login-register .pane.pane-item img{
    position: absolute;
    right: 5%;
    width: 5%;
}

.login-register input[type="text"],.login-register input[type="password"]{
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
    font-weight: normal;
    font-size: 1.2em;
    width: 50%;
}

.login-register input[type="text"].ng-touched.ng-invalid, .login-register input[type="password"].ng-touched.ng-invalid {
    
}

.pane.pane-item{
    background-color: white;
    margin: 5px 2.5%;
    padding: 8px 12px;
    position: relative;
    top: 5px;
    width: 95%;
}

.pane.pane-item > button{
    background-color: rgb(225,225,225);
    border: none;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 45px;
}

.pane.pane-item img{
    position: relative;
    width: 25px;
}

.pane.pane-item.pane-item-message {
    background-color: white;
    border-radius: 10px;
    clear: both;
    float: left;
    padding-right: 20px;
    max-width: 75%;
    width: auto;
}

.pane.pane-item.pane-item-message > span {
    float: right;
    font-weight: normal;
}

.pane.pane-item.pane-item-message > sub{
    font-weight: normal;
}

.pane.pane-item.pane-item-links{

}

.pane.pane-item.pane-item-links a{
    color: rgb(50,50,50);
    display: block;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 40%;
}

.pane.pane-item a:hover{
    background-color: #FFCC33
}

.pane.pane-footer{
    bottom: 0px;
    position: absolute;
    width:100%;
    height: 10%;
}

.pane.pane-footer input{
    border: none;
    height: 100%;    
    position: absolute;
}


.pane.pane-footer > input[type="text"]{
    border-radius: 0 0 0 4px;
    padding: 0px 15px;
    position: relative;
    width: 430px;
}
.pane.pane-footer > input[type="submit"]{
    border-radius: 0 0 4px 0;
    background-color: rgb(225,225,225);
    right: 0px;
    width: 70px;
}

.pane.pane-footer > input[type="submit"]:hover{
    background-color: rgb(210,210,210);
}

.pane.pane-footer > input:only-child{
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 800px){
    .pane.pane-container{
        width: 100%;
    }
}